<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gdkm.dao.CartDao">
    <insert id="insertOrder" parameterType="edu.gdkm.model.Userirder">
        insert into userorder(goodsname,number,price,time,uid)
            values(#{goodsname},#{number},#{price},now(),#{uid});
    </insert>
    <delete id="deleteCart" parameterType="int">
        delete from cart where id=#{id}
    </delete>
</mapper>

