<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gdkm.dao.ShoppingDao">

    <insert id="intcart" parameterType="edu.gdkm.model.Cart">
        insert into cart(goodsname,number,price,goodid,uid)
            values (#{goodsname},#{number},#{price},#{goodid},#{uid});
    </insert>

    <update id="updateCart" parameterType="int">
        update cart set number=number+#{number} where id=#{id}
    </update>

    <select id="getAllcart" resultType="edu.gdkm.model.Cart" parameterType="java.lang.Integer">
        select * from cart where uid=#{uid}
    </select>

</mapper>

